* {
  font-family: impact;
}

* {
  background-color: #FBD335;
}

.borderbottom {
  border-bottom: 1px solid #8D28C6;
}

.bordertop {
  border-top: 1px solid #8D28C6;
}

.purplespan1{
  color: #8D28C6;
  font-size: 16pt;
}

.purplespan2{
  color: #8D28C6;
  font-size: 20pt;
}

.purplespan3{
  color: #8D28C6;
  font-size: 12pt;
}

.redspan1{
  color: #FC0036;
  font-size: 30pt;
}

.redspan2{
  color: #FC0036;

}

.pinkspan1{
  color: #FD28FE;

}

.pinkspan2{
  color: #FD28FE;

}

.blockimg {
  display: inline;
  max-width: 100%
}

body{
  line-height: 1.45;
  margin: 6rem auto 1rem;
  max-width: 48rem;
  padding: .25rem;
}
