* {
  font-family: impact;
}

* {
  background-color: #FBD335;
}

.borderbottom {
  border-bottom: 5px solid #8D28C6;
}

.bordertop {
  border-top: 5px solid #8D28C6;
}

.purplespan1{
  color: #8D28C6;
  font-size: 16pt;
}

.purplespan2{
  color: #8D28C6;
  font-size: 20pt;
}

.purplespan3{
  color: #8D28C6;
  font-size: 30pt;
}

.redspan1{
  color: #FC0036;
  font-size: 40pt;
}

.redspan2{
  color: #FC0036;
  font-size: 26pt;
}

.pinkspan1{
  color: #FD28FE;
  font-size: 40pt;
}

.pinkspan2{
  color: #FD28FE;
  font-size: 24pt;
}

.blockimg {
  display: inline;

}

h1{
text-align: center;
}

.p1, .p2, .p3, .p4, .p5{
  text-align: center;
}
