header {
  background-color: #3333ff;
}

h1 {
  color: white;
}

a:link {
 color: #00ff00;
}

a:link{
  hover: #ffff00;
}

h2 {
  color: #3333ff;
}

.spantyle {
  color: #ff6600;
  }

h3 {
    background-color: yellow;
  }

.p3 {
    color: red;
  }

h4 {
    background-color: green;
    color: yellow;
  }

.p4 {
  background-color: red;
}

h5 {
  color: purple;
}
