body{
  background-color: #050506;
}

header {
  background-color: #050506;
  grid-column: span 3;
}

.wrapper1 {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    background-color: #1B1C1D;
}

.wrapper2 {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    border: 2px solid #0BBA05;
    background-color: #1B1C1D;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
  grid-column: span 3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
  display: inline-block;
}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.imagefloat{
  border: 6px solid #0BBA05;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}

main {
  grid-column: span 2;
}

aside {
}

footer {
  clear: both;
  background-color: blue;
  grid-column: span 3;
}
