p {
 color: #ff3366;
}

.specialp {
 color: #0000ff;
}

#specialid {
 background-color: #00ff00;
}

a {
 color: #ff3300;
}

a:link {
 color: #ff0000;
}

a:visited {
 color: #33cc33;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: #ffff00;
}

a {
 text-decoration: none;
}

a:hover {
 color: #ffff00;
 text-decoration: underline;
}

div {
background-color:  #000000;
}

header {
  background-color: #000000;
}
