* {
  background-color: black
}

p {
 color: #ff3366;
}

.specialp {
 color: #0000ff;
}

a {
 color: #ff3300;
}

a:link {
 color: #ff0000;
}

a:visited {
 color: #33cc33;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: #ffff00;
}
.spanstyle{
  color: #ff4d94;
}

/*a {
 text-decoration: none;
}

a:hover {
 color: #ffff00;
 text-decoration: underline;
}

/*div {

}

/*header {

}
